<mat-toolbar color="primary">
    <mat-toolbar-row>


        <img id="logoheader" src="./assets/img/logotipo.png" alt="Logotipo">

        <div id="divnav">
            <nav id="navheader">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="jogos">Jogos</a></li>
                    <li><a routerLink="contato">Contatos</a></li>
                </ul>
            </nav>
        </div>
        <div id="menu-mobile">
            <img src="./assets/img/menu-hamburg.svg" alt="Menu">
        </div>
    </mat-toolbar-row>
</mat-toolbar>